/* color palette from <https://github.com/vuejs/theme> */
:root {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
}

:host, html {
    --vueuse-safe-area-top: 0px !important;
    --vueuse-safe-area-bottom: 0px !important;
}

body {
    margin: 0;
    background-color: var(--color-background-light);
    color: #1f2937; /* gray-800 */
}

html {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-family: 'Inter', sans-serif !important;
    line-height: 1.5;
}

html.dark body {
    background-color: var(--color-background-dark);
    color: #e5e7eb; /* gray-200 */
}
